<div class='fields'>

  <div>
  
    <p>Nome</p>
    <input name='name' type='text' value={{chef.name}}>
  
  </div>

  <div class='image-field'>
  
    <p>Imagem da receita</p>
    <input name='avatar_url' type='text' value='{{chef.avatar_url}}'>

  </div>

</div>