{% extends 'admin/layout.njk' %}

{% block content %}

<div class='recipes-edit'>

  <div class='edit-content'>

    <div class='top-line'>

    <div class='edit-title'>

      Editando receita

    </div>

    <form method='POST' action='/admin/recipes/:id/edit?_method=DELETE'>

      <div class='buttons'>

        <button class='delete-button'>Deletar</button>
        <input type='hidden' name='id' value={{recipe.id}}>

      </div>

    </form>

    <form method='POST' action='/admin/recipes/:id/edit?_method=PUT'>

      <div class='buttons'>

        <button>Salvar receita</button>
        <input type='hidden' name='id' value={{recipe.id}}>

      </div>

      {% include 'admin/fields.njk' %}
      
      </div>

    </form>

  </div>

</div>

{% endblock content %}