<!DOCTYPE html>

<head>

  <title>Foodfy</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles/admin.css">

</head>

<body>

  <header class='admin'>

    <div class='admin-header-links'>

      <a href="/admin"><img src="/images/whitelogo.png" alt="Foodfy"></a>
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
      <a href='/admin/users'>Usuários</a>
    
    </div>
    
  </header>

  {% block content %}{% endblock content %}

  <script src='/scripts/admin.js'></script>

</body>

</html>
