<!DOCTYPE html>

<head>

  <title>Foodfy</title>

  <link rel="stylesheet" href="/styles/admin.css">

</head>

<body>

  <header class='admin'>

    <div class='admin-header-links'>

      <a href="/"><img src="/images/whitelogo.png" alt="Foodfy"></a>
    
    </div>
    
  </header>

  {% block content %}{% endblock content %}

  <script src="/script.js"></script>

</body>

</html>
