<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" href="/styles.css">

  <title>Alunos</title>

</head>

<body style="background: url(https://source.unsplash.com/collection/620529/800x800) no-repeat center center / cover">

  <header>

    <div class='links'>

      <a href="/">Sobre</a>
      <a href="/professores">Professores</a>
      <a class='selecionado' href="/alunos">Alunos</a>
      
    </div>

  </header>

  <div class='card table-container'>

    <div class='header'> 

      <a class='novo' href='/alunos/adicionar'>Novo</a>

      <form action='/alunos' method='GET'>

        <input 
          type='text' 
          name='busca' 
          placeholder='Buscar pelo nome'
          value='{{busca}}'>

      <button type='submit'>Buscar</button>
      
      </form>

    </div>

    <table width='100%'>

      <thead>
        <tr>
          <th>Alunos</th>
          <th>Ano escolar</th>
          <th>Email</th>
          <th> </th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>Nenhum aluno encontrado.</td>
        </tr>

      </tbody>

    </table>
  
</body>

</html>