{% extends 'layout.njk' %}

{% block content %}

<div class='show-content'>

  <div class='image'>
    <img src='{{recipe.image}}'>
  </div>

  <div class='title'>
    {{recipe.title}}
  </div>

  <div class='author'>
    por {{recipe.author}}
  </div>

  <div class='ingredients'>

    <h1>Ingredientes</h1>

    <div class='ingredients-text'>
      <ul>
       {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
      </ul> 
    
    </div>
  </div>

  <div class='preparation'>

    <h1>Modo de preparo</h1>

    <div class='preparation-text'>
      <ul>
       {% for preparation in recipe.preparation %}
        <li>{{preparation}}</li>
        {% endfor %}
      </ul> 
    </div>
  </div>

  <div class='information'>
    <h1>Informações</h1>
    <div class='information-text'>
    {{recipe.information}}
    </div>
  </div>

</div>

{% endblock content %}