{% extends 'admin/layout.njk' %}

{% block content %}

<div class='user-header-container'>

  <div class='user-header-title'>
    <h2>Atualizar usuário</h2>
  </div>

  <div>

    <form method='POST' action='/admin/users/:id/edit?_method=DELETE'>

      <div class='buttons'>
        <button id='delete' type='submit'>Deletar</button>
        <input type='hidden' name='id' value={{user.id}}>
      </div>

    </form>

  </div>

  <form method='POST' action='/admin/users/:id/edit?_method=PUT'>

  <div class='buttons'>
    <button type='submit'>Salvar</button>
    <input type='hidden' name='id' value={{user.id}}>
  </div>

</div>

<div class='user-fields-container'>

  <div class='user-fields'>

    <h3>Nome</h3>

    <div class='input'>
      <input name='name' type='text' value='{{user.name}}'>
    </div>

  </div>

  <div class='user-fields'>

    <h3>Email</h3>

    <div class='input'>
      <input name='email' type='text' value='{{user.email}}'>
    </div>

  </div>

  <div class='admin-fields'>
    <input 
      name='is_admin' 
      type='checkbox' 
      {% if user.is_admin == true %}checked{% endif %}>
    <h3>Administrador</h3>
  </div>

</div>

</form>

{% endblock content %}