{% extends 'admin/layout.njk' %}

{% block content %}

<form method='POST'>

<div class='user-header-container'>

  <div class='user-header-title'>
    <h2>Bem vindo usuário</h2>
  </div>

  <div class='buttons'>
    <button type='submit'>Salvar</button>
  </div>


</div>

<div class='user-fields-container'>

  <div class='user-fields'>

    <h3>Nome</h3>

    <div class='input'>
      <input name='password' type='text'>
    </div>

  </div>

  <div class='user-fields'>

    <h3>Email</h3>

    <div class='input'>
      <input name='email' type='text'>
    </div>

  </div>

  <div class='user-fields'>

    <h3>Senha</h3>

    <div class='input'>
      <input name='email' type='text' placeholder='Digite a senha'>
    </div>

  </div>

</div>

</form>

{% endblock content %}