<!DOCTYPE html>

<html lang="en">

  <head>

    <link rel="stylesheet" href="/styles.css">

    <title>Alunos</title>

  </head>

  <body>

    <header>

      <div class='links'>

        <a href="./Professores">Professores</a>
        <a class='selecionado 'href="./Alunos">Alunos</a>
        
      </div>

    </header>
    
  </body>

</html>