<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" href="/styles.css">

  <title>Professores</title>

</head>

<body>

  <header>

    <div class='links'>

      <a class='selecionado' href="./Professores">Professores</a>
      <a href="./Alunos">Alunos</a>
      
    </div>

  </header>

  <div class='card'>

    <section class='avatar' 
    style="border-radius: 20px 0 0 20px; background: url(https://source.unsplash.com/collection/517198/600x600) no-repeat center center / cover"></section>
    
    <section class='detalhes'>
    
      <h3>Detalhes</h3>

      <div class='item'>
        <div>Nome</div>
        <div>Guilherme França</div>
      </div>

      <div class='item'>
        <div>Idade</div>
        <div>31</div>
      </div>

      <div class='item'>
        <div>Grau de escolaridade</div>
        <div>Doutorado</div>
      </div>

      <div class='item'>
        <div>Tipo de aula</div>
        <div>Presencial</div>
      </div>

      <div class='item'>
        <div>Acompanhamento</div>
        <div>
          <span>Matemática</span>
          <span>Física</span>
        </div>
      </div>

      <div class='item'>
        <div>Desde</div>
        <div>01/01/2001</div>
      </div>

    </section>
    
  </div>
  
</body>

</html>