<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" href="/styles.css">

  <title>Professores</title>

</head>

<body>

  <header>

    <div class='links'>

      <a class='selecionado' href="./Professores">Professores</a>
      <a href="./Alunos">Alunos</a>
      
    </div>

  </header>

  <div class='card'>

    <section class='avatar' 
    style="border-radius: 20px 0 0 20px; background: url({{ professor.avatar_url }}) no-repeat center center / cover"></section>
    
    <section class='detalhes'>
    
      <h3>Detalhes</h3>

      <div class='item'>
        <div>Nome</div>
        <div>{{ professor.nome }}</div>
      </div>

      <div class='item'>
        <div>Idade</div>
        <div>{{ professor.nascimento }}</div>
      </div>

      <div class='item'>
        <div>Grau de escolaridade</div>
        <div>{{ professor.escolaridade }}</div>
      </div>

      <div class='item'>
        <div>Tipo de aula</div>
        <div>{{ "Presencial" if professor.aula == "P" else "À distância" }}</div>
      </div>

      <div class='item'>
        <div>Acompanhamento</div>
        <div>

          {% for materia in professor.materias %}
          <span>{{ materia }}</span>
          {% endfor %}

        </div>
      </div>

      <div class='item'>
        <div>Desde</div>
        <div>{{ professor.data_criacao }}</div>
      </div>

    </section>
    
  </div>
  
</body>

</html>