<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Launchstore</title>

    {% include 'parts/styles.njk' %}

  </head>

  <body>

    {% include 'parts/messages.njk' %}

    {% include 'parts/header.njk' %}

    {% block content %}{% endblock content %}

    {% include 'parts/footer.njk' %}

  </body>

</html>


