<!DOCTYPE html>

<html>
  
<head>

  <title>Conteúdos</title>

  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/styles.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>

<body>
  
  <header>
    <div>

      <a href="/sobre">Sobre</a>
      <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br">Email</a>
      <a href="tel:+5547992078767">Telefone</a>

    </div>
    
  </header>

  <div id="conteudo">

    <h1>Cursos da RocketSeat</h1>

  </div>
  <div id="imgs">

    <img class="imagem" id="starter" src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
    <img class="imagem" id="launchbase" src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LaunchBase">
    <img class="imagem" id="gostack" src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack">
    <h3 class="dados1">5 módulos</h3>
    <h3 class="dados1">11 módulos</h3>
    <h3 class="dados1">17 módulos</h3>
    <h4 class="dados2">Free</h4>
    <h4 class="dados2">R$ 900,00</h4>
    <h4 class="dados2">R$ 1800,00</h4>

  </div>

  <div class="modal">
    <div class="mod">
      <a class="minmodal">
        <i class="material-icons" id="minimize">fullscreen_exit</i>
      </a>
      <a class="maxmodal">
        <i class="material-icons" id="maximize">fullscreen</i>
      </a>
      <a class="closemodal">
        <i class="material-icons">close</i>
      </a>
      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="scripts.js"></script>

</body>
</html>