@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

body {
  background: #530985ee;
  color: #FFFFFF;
}

#wrapper {
  text-align: center;
  padding: 30px;
  font-family: "Roboto";
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid #4a006d;
}

#wrapper h1 {
  font-size: 40px;
}

#wrapper h2 {
  font-size: 20px;
  opacity: 0.8;
  width: 650px;
  margin: 0 auto;
}

#wrapper ul {
  max-width: 100px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 30px;
}

#links {
  text-align: center;
  font-family: "Roboto";
}

body div a {
  color: #FFFFFF;
  margin: 25px;
}

body div a:hover {
  color:rgb(152, 81, 161);
  transition: 400ms;
}