{% extends 'foodfy/layout.njk' %}

{% block content %}

<div class='all-recipes'>

  {% for recipe in recipes %}

  <div class='recipes'>
    <a href='/recipes/{{recipe.id}}'><img src={{recipe.image}} alt={{recipe.title}}></a>
    <h2>{{recipe.title}}</h2>
    <h3>por {{recipe.author}}</h3>
  </div>

  {% endfor %}

</div>

{% endblock content %}