{% extends 'foodfy/layout.njk' %}

{% block content %}

<div class='show-content'>

  <div class='image'>
    <img src='{{recipe.image}}'>
  </div>

  <div class='title'>
    {{recipe.title}}
  </div>

  <div class='author'>
    por {{recipe.chef_name}}
  </div>


  <div class='ingredients'>

    <div class='ingredients-head'>
      <h1>Ingredientes</h1>
      <button class='visibility'>Esconder</button>
    </div>

    <div class='ingredients-text show-hide'>
      <ul>
       {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
      </ul> 
    
    </div>
  </div>


  <div class='preparation'>

    <div class='preparation-head'>
      <h1>Modo de preparo</h1>
      <button class='visibility'>Esconder</button>
    </div>

    <div class='preparation-text show-hide'>
      <ul>
       {% for preparation in recipe.preparation %}
        <li>{{preparation}}</li>
        {% endfor %}
      </ul> 
    </div>
  </div>


  <div class='information'>

    <div class='information-head'>
      <h1>Informações adicionais</h1>
      <button class='visibility'>Esconder</button>
    </div>

    <div class='information-text show-hide'>
      {{recipe.information | striptags(true) | escape | nl2br}}
    </div>
  </div>

</div>

{% endblock content %}